/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* LAYOUT */

.header-container {
    background-color: violet;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* DEBUG */
    height: 80px;
}

.header-item-container {

    background-color: aqua;
    width: 30%;
    /* DEBUG */
    height: 80px;
}

.hero-container {
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    /* DEBUG */
    height: 600px;
}

.big-flex-container {
    border: 2px solid blue;
    width: 60%;

    /* DEBUG */
    height: 500px;
}

.hero-title {
    background-color: blueviolet;
    width: 100%;

    /* DEBUG */
    height: 25%;
}

.hero-text {
    background-color: aquamarine;
    width: 35%;

    /* DEBUG */
    height: 75%;
}

.hero-img {
    background-color: brown;
    width: 65%;
    position: relative;
    left: 322px;
    bottom: 373px;

    /* DEBUG */
    height: 85%;
}

.plan-container {
    display: flex;
    justify-content: center;
}

.small-flex-container {
    margin-top: 150px;
    background-color: pink;
    width: 50%;
}

.plan-title {
    background-color: green;
    width: 60%;

    /* DEBUG */
    height: 50px;
}

.plan-billing {
    background-color: bisque;
    width: 40%;

    margin-top: 30px;

    /* DEBUG */
    height: 30px;
}

.plan-column {
    margin-top: 30px;
    border: 1px solid black;
    width: 30%;

    /* DEBUG */
    height: 800px;
}

.plan-column-header {
    border: 1px solid black;
    width: 100%;

    /* DEBUG */
    height: 30px;
}

.plan-column-container {
    display: flex;
    justify-content: space-between;
}

.plan-row {
    margin-top: 50px;
    border: 1px solid black;
    width: 100%;

    /* DEBUG */
    height: 200px;
}
.jumbo-img{
   background-color: orange; 
   width: 400px;

   /* DEBUG */
   height: 300px;
}
.jumbo-container{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;

}
.jumbo-text{
    background-color: yellow;
    width: 300px;

    /* DEBUG */
    height: 200px;
}
.business