/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* LAYOUT */

.header-container {
    background-color: violet;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* DEBUG */
    height: 80px;
}

.header-item-container {

    background-color: aqua;
    width: 30%;
    /* DEBUG */
    height: 80px;
}

.hero-container {
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    /* DEBUG */
    height: 600px;
}

.big-flex-container {
    border: 2px solid blue;
    width: 60%;

    /* DEBUG */
    height: 500px;
}

.hero-title {
    background-color: blueviolet;
    width: 100%;

    /* DEBUG */
    height: 25%;
}

.hero-text {
    background-color: aquamarine;
    width: 35%;

    /* DEBUG */
    height: 75%;
}

.hero-img {
    background-color: brown;
    width: 65%;
    position: relative;
    left: 322px;
    bottom: 373px;

    /* DEBUG */
    height: 85%;
}